@import "../../../constants/main.scss";
.cart__item_count {
  align-self: center;
  display: flex;
  width: 15%;
  height: 40px;
  background-color: $bgColor;
  border-radius: 5%;
  align-items: center;
  justify-content: center;

  b {
    margin: 0px 10px;
  }
}
@media screen and (max-width: 380px) {
  .cart__item_count {
    width: 20%;
    margin-right: 5px;
    b {
      font-size: 12px;
    }
  }
}
